---
title: "about"
---

<div id="wrapper">
  <h2>me</h2>
  <p>Hi !<br />
  My name is Raphael Campardou, I'm <%= my_age %> and I'm French, approximately based in Sydney.</p>
  <p>Father of two, husband of one,<br />
  I currently handle ops stuff at the very awesome <%= link_to "reInteractive", "http://reinteractive.net" %> (meaning I play with AWS all day long).<br>
  Before that, I was the manager of the web team of <%= link_to "The Brand Nation", "http://thebrandnation.com/" %> (a mid size ad agency in Paris) and the IT manager of the group.<br />
  Before that I was a graphic designer for a few years.</p>
  <p> Ruby on Rails enthousiast, Mac lover since Day Two <em>(I was only 7 on Day One)</em>, Music junky.</p>
  <p>You can find me on Twitter as <%= link_to "@ralovely", "http://twitter.com/ralovely" %> and here is <%= mail_to "ralovely@gmail.com", "my email", :encode => "javascript"%>.</p>

  <h2>this web site</h2>
  <p>You can find pretty much every info on this <%= link_to "blog post", "/blog/2011/08/18/the-new-ralovely" %>.</p>

  <h2>life</h2>
  <p>I wish I could say <a href="http://www.google.fr/search?q=what+is+life">more</a>.</p>
</div>
